@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
/* color guide
### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 1400px;
    font-family: 'Josefin Sans', sans-serif;
}
.page_wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
/* Left */
.purple_section{
    background-image: url(./interactive-card-details-form-main/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cards_section{
    position: relative;
 
   
}
/* Cards */
.front{
    background-image: url(./interactive-card-details-form-main/images/bg-card-front.png);
    text-transform: uppercase;
    color:  hsl(0, 0%, 100%);
    top: -300px;
    left: -80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-weight: 200;
    letter-spacing: 7px;


}
.logo{
    max-width: 100px;
}
.insert_number{
    font-size: 28px;
    text-align: center;
}
.last_insert{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    letter-spacing: 4px;
}
.expiration{
    display: flex;
}
.back{
    background-image: url(./interactive-card-details-form-main/images/bg-card-back.png);
    position: relative;
}
.cards{
    background-repeat: no-repeat;
    width: 450px;
    height: 250px;
    border-radius: 15px;

    position: absolute;
    filter: drop-shadow(4px 0px 4px grey);

}
.insert_cvc{
    position: absolute;
    right: 12%;
    top: 45%;
    color: white;
    letter-spacing: 2px;
    font-weight: 300;
}
/* right */
.white_section{
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    align-items: center;
 
}
.insert_info{
    margin-left: 300px;
    width: 400px;
}
.name_input,
.number_input{
    width: 100%;
    
}
label{
    color: hsl(278, 68%, 11%);
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 500;
    text-align: left;
    padding: 15px 0;
 
}
.last_row{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.last_inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mm_input,
.yy_input{
    width: 25%;
    margin: 0 10px 0 0;
}
input{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border-style: solid;
    border-color: hsl(270, 3%, 87%);
    padding: 5px;
}
.last{
    width: 100px;
}
button{
    background-color: hsl(278, 68%, 11%);
    color: white;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    margin-top: 30px;
    width: 100%;
    cursor: pointer;
}
@media only screen and (max-width:900px) {
   .page_wrapper{
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       border: 2px solid black;
   }
    .purple_section{
        height: 30vh;
        width: 100vw;
        align-items: flex-start;
        justify-content: center;
    }
    .cards_section{
        width: 100%;
        height: 100%;
        
    }
    .front{
        top: 110px;
        left: 10px;
        z-index: 3;

    }
    .back{
        left: 80px;
    }
    .cards{
      transform: scale(.60);
    }

   .insert_info{
       margin-left: 20px;
       padding: 20px;
       width: 80vw;
   }
   button{
       
   }
}